.news-title {
	color: #6F2EB9;
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 36px;
}

.description {
	font-family: 'Open Sans', sans-serif;
}

#vote-buttons {
	padding-top: 0.3em;
}

#votes {
	padding-top: 0.3em;
}
